@model Product

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Berfin Gökşen Akademiye hoşgeldiniz.</h1>
</body>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Course Name</th>
            <th scope="col">Price</th>
            <th scope="col">Course Start Date</th>
        </tr>
    </thead>

    @* <h2>@Model.ProductName</h2>
    <p>@Model.Price.ToString("c")</p> *@


    <tbody>
        @* <tr>
        <th scope="row">1</th>
        <td>
        <h2>@Model.ProductName</h2>

        </td>
        <td>
        <p>@Model.Price.ToString("c")</p>
        </td>
        </tr> *@

        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td></td>
        </tr>
    </tbody>
</table>

</html>
